.submitButton{
    width:400px;
    height:40px;
    background: #FC6E51;
    margin: 0 1.5em 2.5em;
    box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
    text-decoration: none;
    color: white;
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color .6s ease;
}

.chosePicture {
    background-color: #08ad10;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}

#bedingungenLink {
    text-decoration: underline;
    color: blue;
}