#userTable{
  width: 100%;
  margin-top: 2%;
}

#userTable td{
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 1.6em;
}

#userTable .username{
  width: 62%;
}

#userTable .editUser{

}

#userTable .deleteUser{
  color: red;
}

#userTable .deleteUser, #userTable .editUser{
  transition: 0.2s;
  text-shadow: none;
  cursor: pointer;
  user-select: none;
}

#userTable .deleteUser:hover, #userTable .editUser:hover{
  text-shadow: 2.5px 2.5px 4px rgba(0,0,0,0.6);
}

#addUserForm{
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100%;
  padding: 0.5%;
  background: white;
  text-align: center;
}

#addUserForm input{
   font-size: 1em;
}

#addUserForm select{
  font-size: 1em;
}

#deleteUserForm{
  display: none;
}
