#projekte p{
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  font-weight: 200;
  font-size: 1.5em;
  margin: 0.8em;
}

.projectButton{
  background-color: #ececec;
}

.deleteButton{
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
}

.add-button {
  position: absolute;
  bottom: 1px;
  left: 1px;
  z-index: 10;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #projekte p{
    font-size: 1.7em;
  }
}
