#userNavigationBar{
  width: 99%;
  margin: 0%;
  padding: 0.5%;
  background: black;
  position: sticky;
  top: 0%;
  left: 0%;
  color: white;
  display: flex;
  justify-content: space-between;
}

#userGoBackButton{
  width: auto;
  transform: rotate(180deg);
  text-align: center;
  font-size: 1.8em;
  line-height: 0.85em;
  cursor: pointer;
  text-shadow: none;
  transition: 0.2s;
  font-weight: bold;
  color: inherit;
  display: inline-block;
}

#leftNavigationBarFlex{
  display: inline-block;
  display: flex;
}

#rightNavigationBarFlex{
  display: inline-block;
  display: flex;
}

#logOutButton{
  display: inline-block;
  right: 0%;
  font-size: 1.2em;
  cursor: pointer;
  text-shadow: none;
  transition: 0.2s;
  font-weight: 600;
}

#addButton{
  display: inline-block;
  margin-right: 25px;
  font-size: 1.1em;
  border: 2px solid white;
  padding: 3px;
  border-radius: 7px;
  font-weight: 600;
  text-shadow: none;
  box-shadow: none;
  transition: 0.2s;
  cursor: pointer;
}

#addButton:hover{
  text-shadow: -2px -2px 2px rgba(255,255,255, 0.6);
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.6);
}

#logOutButton:hover{
  text-shadow: -2px -2px 2px rgba(255,255,255, 0.6);
}

#userGoBackButton:hover{
  text-shadow: -2px -2px 2px rgba(255,255,255, 0.6);
}
