#userNavigationBar{
  width: 99%;
  margin: 0;
  padding: 0.5%;
  background: black;
  position: sticky;
<<<<<<< HEAD
  z-index: 1;
  top: 0%;
  left: 0%;
=======
  top: 0;
  left: 0;
>>>>>>> eabc5267e873408850ff053390b0bca5e6104b59
  color: white;
  display: flex;
  justify-content: space-between;
}

#userGoBackButton{
  width: auto;
  transform: rotate(180deg);
  text-align: center;
  font-size: 1.8em;
  line-height: 0.85em;
  cursor: pointer;
  text-shadow: none;
  transition: 0.2s;
  font-weight: bold;
  color: inherit;
  display: inline-block;
  user-select: none;
}

#leftNavigationBarFlex{
  display: inline-block;
  display: flex;
}

#rightNavigationBarFlex{
  display: inline-block;
  display: flex;
}

#logOutButton{
  display: inline-block;
  right: 0;
  font-size: 1.2em;
  cursor: pointer;
  text-shadow: none;
  transition: 0.2s;
  font-weight: 600;
  user-select: none;
}

#navEdit{
  display: inline-block;
  position: relative;
}

#NavBarEditDropDown{
    position: absolute;
    background: #404040;
    color: #FFFFFF;
    text-align: center;
    border-radius: 10px;
    padding: 0px;
    z-index: 2;
    margin-top: 13%;
    padding: 10px;
    opacity: 0.9;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.8);

    display: none;
}

#NavBarEditDropDown:after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 3;
    border-style: solid;
    border-color: #404040 transparent;
    border-width: 0 16px 15px;
    top: -15px;
    left: 30%;
    margin-left: -16px;
}

#NavBarEditDropDown p{
   font-size: 1.1em;
   font-family: inherit;
   user-select: none;
   cursor: pointer;

   border-bottom: 2px solid rgba(255, 255, 255, 0);
   text-shadow: 1px 1px 2px rgba(255, 255, 255, 0);

   transition: 0.3s;
}

#NavBarEditDropDown p:hover{
   border-bottom: 2px solid rgba(255, 255, 255, 0.9);
   text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

#NavBarEditButton{
  margin-right: 25px;
  font-size: 1.1em;
  border: 2px solid white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 7px;
  font-weight: 600;
  text-shadow: none;
  box-shadow: none;
  transition: 0.2s;
  cursor: pointer;
  user-select: none;
}

#NavBarEditButton:hover{
  text-shadow: -2px -2px 2px rgba(255,255,255, 0.6);
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.6);
}

#logOutButton:hover{
  text-shadow: -2px -2px 2px rgba(255,255,255, 0.6);
}

#userGoBackButton:hover{
  text-shadow: -2px -2px 2px rgba(255,255,255, 0.6);
}
