.bildmitbildunterschrift {
    width: 90%;
    position: relative;
}

.bildmitbildunterschrift span {
    background-color: silver;
    background-color: hsla(0, 0%, 100%, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 2em;
    text-align: center;
}

.bildmitbildunterschrift img {
    display: block;
}

.flex-container{
    display: flex;
    justify-content:center;
    align-content: center;
    align-items: center;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.votingButton{
    width:400px;
    height:40px;
    margin: 0 1.5em 1.5em;
    box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
    text-decoration: none;
    color: white;
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color .6s ease;
}

.best{
    background: #f39916;
}

.like{
    background: #FC6E51;
}

.liked{
    background: #08ad10 !important;
}

.bested{
    background: #08ad10 !important;
}