html {
    font-family: sans-serif;
    scroll-behavior: smooth;
    margin: 0%;
    padding: 0%;
}

footer{
    color:gray;
    font-size: smaller;
    text-align: center;
}
body {
    background-color: antiquewhite;
}
