html {
    font-family: sans-serif;
    scroll-behavior: smooth;
    margin: 0%;
    padding: 0%;
}

footer{
    color:gray;
    font-size: smaller;
    text-align: center;
}
body {
    background-color: antiquewhite;
    margin: 0%;
    padding: 0%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 9px 30px 0 rgba(0, 0, 0, 0.19);
}
a{
    text-decoration: none;
    color: black;
}
